
@import "./Variables";

/* Section Promociones */

section.container--promos{
	margin-top: 80px;
}


.card__promo {
    position: relative;
    width: 300px;
    height: 300px;
    background: $color1;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: $shadow3;
    margin: 3rem;
}

.card__promo:before,
.card__promo:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: $var1;
    height: $var1;
    border-radius: 8px;
    background: $color1;
    transition: 0.5s;
    z-index: -1;

}



.card__promo .img__promo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    bottom: 1rem;
    right: 1rem;
    background: $color1;
    transition: 0.5s;
    z-index: 1;

}

.card__promo:hover .img__promo {
    bottom: 5rem;

}

.card__promo .img__promo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__promo .details {
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    text-align: center;
}

.card__promo .details p {
    margin: 0;
    padding: 0;
    font-size: $size3;
    color: $color2;
}



/* Section Formas de pago */

h2.forma--pago__titulo{
    font-size: $size6;
    text-align: center;
    font-family: $font1;
}

section.forma--pago{
    width: $var1;
    height: $var1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div.pago{
        width: 230px;
        height: 230px;
        border-radius: 8px;
        box-shadow: $shadow4;
        overflow: hidden;
        margin: 60px 20px 60px 20px;
        text-align: center;
    }
}

img.pays{
	height: 230px;
}