
@import "./Variables";

/* Main productos */

div.container--menu{
    width: $var1;
    height: $var1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;

}
    .card{
        width: 230px;
        height: 330px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
    }


.container--menu .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container--menu .card img{
    height: 160px;
}

.container--menu .card h4{
    font-weight: 600;
    font-size: $size5;
}

.container--menu .card p{
    padding: 0 1rem;
    font-size: 14px;
    font-weight: 300;
}

.container--menu .card a{
    font-weight: 500;
    text-decoration: none;
    color: #349;
}